<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="/ui/styles.css" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <main class="container">
            {% block body %}

            {% endblock %}
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/ui/app.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
